<h1><center> Data Analysis: Introduction to Pandas </center></h1>

<h2> Part I. Filtering and Sorting Data </h2>

<i>Example 1. Import the necessary libraries</i>

In [2]:
import pandas as pd

<i>Example 2. Import the dataset from the local file </i>

In [3]:
order_list = pd.read_csv('./order_list.csv', sep = '\t')

<b>Exercise 1. Display the first 5 orders of the dataset.</b>

In [20]:
order_list.head(5)

,id,quantity,food,description,unit_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

<b>Exercise 2. What is the number of rows in the dataset?</b>

In [8]:
print(f"The number of rows in the dataset is {order_list.shape[0]} rows")

The number of rows in the dataset is 4622 rows

<b>Exercise 3. What is the number of columns in the dataset?</b>

In [9]:
print(f"The number of columns in the dataset is {order_list.shape[1]} columns")

The number of columns in the dataset is 5 columns

<b>Exercise 4. Display the name of each column.</b>

In [11]:
order_list.columns

Index(['id', 'quantity', 'food', 'description', 'unit_price'], dtype='object')

<b>Exercise 5. Display the <i>"food"</i> which has the highest number of orders?

In [18]:
order_list.groupby('food').count().sort_values('quantity', ascending=False)

# highest_orders.head()

                                        id  quantity  description  unit_price
food
Chicken Bowl                           726       726          726         726
Chicken Burrito                        553       553          553         553
Chips and Guacamole                    479       479            0         479
Steak Burrito                          368       368          368         368
Canned Soft Drink                      301       301          301         301
Chips                                  211       211            0         211
Steak Bowl                             211       211          211         211
Bottled Water                          162       162            0         162
Chicken Soft Tacos                     115       115          115         115
Chicken Salad Bowl                     110       110          110         110
Chips and Fresh Tomato Salsa           110       110            0         110
Canned Soda                            104       104          104         104
Side of Chips                          101       101            0         101
Veggie Burrito                          95        95           95          95
Barbacoa Burrito                        91        91           91          91
Veggie Bowl                             85        85           85          85
Carnitas Bowl                           68        68           68          68
Barbacoa Bowl                           66        66           66          66
Carnitas Burrito                        59        59           59          59
Steak Soft Tacos                        55        55           55          55
6 Pack Soft Drink                       54        54           54          54
Chips and Tomatillo Red Chili Salsa     48        48            0          48
Chicken Crispy Tacos                    47        47           47          47
Chips and Tomatillo Green Chili Salsa   43        43            0          43
Carnitas Soft Tacos                     40        40           40          40
Steak Crispy Tacos                      35        35           35          35
Chips and Tomatillo-Green Chili Salsa   31        31            0          31
Steak Salad Bowl                        29        29           29          29
Nantucket Nectar                        27        27           27          27
Barbacoa Soft Tacos                     25        25           25          25
Chips and Roasted Chili Corn Salsa      22        22            0          22
Chips and Tomatillo-Red Chili Salsa     20        20            0          20
Izze                                    20        20           20          20
Veggie Salad Bowl                       18        18           18          18
Chips and Roasted Chili-Corn Salsa      18        18            0          18
Barbacoa Crispy Tacos                   11        11           11          11
Barbacoa Salad Bowl                     10        10           10          10
Chicken Salad                            9         9            9           9
Carnitas Crispy Tacos                    7         7            7           7
Veggie Soft Tacos                        7         7            7           7
Burrito                                  6         6            6           6
Carnitas Salad Bowl                      6         6            6           6
Veggie Salad                             6         6            6           6
Steak Salad                              4         4            4           4
Salad                                    2         2            2           2
Bowl                                     2         2            2           2
Crispy Tacos                             2         2            2           2
Carnitas Salad                           1         1            1           1
Chips and Mild Fresh Tomato Salsa        1         1            0           1
Veggie Crispy Tacos                      1         1            1           1

<b>Exercise 5. How many items were ordered for the most-ordered item?

In [ ]:
print(f"The most ordered item has {} orders")

<b>Exercise 6. Display the <i>"description"</i> which has the highest number of orders?</b>

<b>Exercise 7. How many foods ordered in total?</b>

<b>Exercise 8. Calculate the total income for the period in the dataset?</b>

<b>Exercise 9. Find the total number of orders.</b>

<b>Exercise 10. Find the average income for each order?</b>

<b>Exercise 11. How many different foods are ordered?</b>